
/*.logo-text-normal{
    font-family: Roboto;
   . font-style: italic;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
   }*/

.tree-view{

    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-text-fill: #4c253d;

}
.button{
    -fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);
    -fx-background-color: white;
    -fx-background-radius: 15 15 15 15;
    -fx-background-insets: 2 2 2 2 ;
}
.button:hover{
    -fx-background-color:  #a7a6ba;
}

.button:pressed{
    -fx-background-color: #ba96ba;
    -fx-scale-y: 0.90;
    -fx-scale-x: 0.90;
    -fx-effect: innershadow(gaussian, #ff09f1, 15, 0, 0, 0);

}



/*.button:focused {
    -fx-background-color: #a7a6ba;
}*/


#logo{

    -fx-background-color: linear-gradient(#ba1fad, #4C1036);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;

}
#logo:hover
{

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#ba1fad 0%,#4C1036 100)
}

#logo:pressed
{
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}


#favorite {
    -fx-background-color: #ffffff;
    -fx-border-width: 2px;
    -fx-border-color: #4c1036;
    -fx-font-size: 0px;
    -fx-shape:"M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2 c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z";
}

#favorite:hover{
    -fx-background-color: #4c1036;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 2, 2);
    -fx-min-height: 24px;
    -fx-min-width: 24px;
    -fx-padding: 0px, 0px, 2px, 2px;
}

#favorite:selected {
    -fx-background-color: #4c1036;
    -fx-min-height: 20px;
    -fx-min-width: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 0, 0, 0, 0);
}
